<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/common.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/css/adminSidebar.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link
      href="assets/css/jquery.dataTables.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin | Change Password</title>
    </head>
    <body>
      <%- include("../partials/admin-sidebar.ejs") %>
      
          <section class="home-section">
            <nav>
              <div class="container-fluid d-flex">
                <div class="sidebar-button me-auto">
                  <i class="fas fa-bars sidebarBtn"></i>
                  <span class="dashboard">Change Password</span>
                </div>
      
                <a href="#" class="view-shop px-3">
                  <i class="fas fa-paper-plane" aria-hidden="true"></i>
                  <span class="view-shop-text px-2">View your shop</span>
                </a>
                <div class="profile-details px-2">
                  <span class="admin_name px-2">Admin Name</span>
                  <img src="assets/images/avatar.png" alt="" />
                </div>
              </div>
            </nav>
            <form class="vh-100 pt-5">
              <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-left">
                    <h4 class="text-center pb-3">Change Password</h4>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="adminNumber" class="form-label">Admin Number</label>
                            <input type="text" class="form-control form-control" placeholder="Admin Number" id="adminNumber">
                        </div>
                        
                        <div class="col-12 pt-3">
                            <label for="oldPassword" class="form-label">Old Password</label>
                            <input type="password" class="form-control form-control" placeholder="Old Password" id="oldPassword">
                        </div>
                        <div class="col-12 pt-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control form-control" placeholder="New Password" id="newPassword">
                        </div>
                        <div class="col-12 pt-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control form-control" placeholder="Confirm Password" id="confirmPassword">
                        </div>
                    </div>
                    <input class="btn btn-primary w-100 mt-3" type="submit" value="Submit">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

              </form>
        </section>
        <!-- jQuery DataTables JS CDN -->
    <script src="assets/js/jquery-3.5.1.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap5.min.js"></script>
    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      };
      $(document).ready(function () {
        $("#attendantsTableList").DataTable({
          columnDefs: [{ className: "dt-center", targets: "_all" }],
          lengthMenu: [
            [20, 25, 50, -1],
            [20, 25, 50, "All"],
          ],
        });
        jQuery(".dataTable").wrap('<div class="dataTables_scroll" />');
      });
    </script>

    <script src="assets/js/attendants.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
    
</html>