<div class="sidebar" id="admin-sidebar">
    <div class="logo-details">
      <img src="/images/logo.png" class="logo" alt="Logo">
      <span class="logo_name">Vision</span>
    </div>

    <ul class="nav-links mt-4">
      <li>
        <a href="/api/dashboard" class="list">
          <i class="fa fa-th-large"></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/api/customers" class="list">
          <i class="fa fa-users"></i>
          <span class="links_name">Customers</span>
        </a>
      </li>
      <li>
        <a href="/api/attendants" class="list">
          <i class="fa fa-user-md"></i>
          <span class="links_name">Attendants</span>
        </a>
      </li>
      <li>
        <a href="/api/products" class="list">
          <i class="fas fa-shopping-bag"></i>
          <span class="links_name">Products</span>
        </a>
      </li>
      <li>
       <a href="/api/orders" class="list">
          <i class="fa fa-cart-arrow-down"></i>
          <span class="links_name">Orders</span>
        </a>
      </li>
      <li>
        <a href="/api/appointments" class="list">
          <i class="fa fa-calendar"></i>
          <span class="links_name">Appointment</span>
        </a>
      </li>
      <li>
        <a href="/api/admins" class="list">
          <i class="fas fa-users-cog" aria-hidden="true"></i>
          <span class="links_name">Admin</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-sign-out-alt"></i>
          <span class="links_name">Signout</span>
        </a>
      </li>
    </ul>
  </div>

  <script src="/js/adminSidebar.js"></script>