html, body{
    font-size: 92%;
}
.addBtn{
    background-color: var(--addBtn);
    opacity: 0.9;
}
.addBtn:hover{
    opacity: 1;
}

.btn:focus{
    box-shadow: none;
}

.archiveBtn{
    background-color: rgb(221, 82, 82);
    opacity: 0.9;
    color: white;
    border-radius: 0.3rem;
}
#archives-tab{
    display: none;
}
a.title-page{
    text-decoration: none;
    font-size: 1.6rem;
    color: #4a4a4a;
    font-weight: 600;
}
i.to-back-link{
  opacity: 0.7;
}

i.to-back-link:hover, .archiveBtn{
    opacity: 1;
}

/*common Table*/
.table-wrapper{
    border: 0.1px solid rgb(221, 220, 220);
    /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25); */
    background: white;
    border-radius: 0.8rem;
}
.table-title{
    /* background:var(--addBtn); */
    color: #4a4a4a;
}
.table-body thead {
    text-align: center;
    background-color: #f4f4f4;
    line-height: 2rem;
}

.table-body tr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform:capitalize;
}
.table-body td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.img-table-list{
    width: 2rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--addBtn);
    border-color: var(--lightblue);
}

/* action buttons */
.table-body tbody .action-buttons li {
    list-style-type: none;
    display: inline-block;
}
.data {
    font-size: 0.7rem;
    padding: 0.2rem 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}
.view-data{
    background: var(--lightblue);
    opacity: 0.8;
}
.update-data{
    background: var(--lightgreen);
    opacity: 0.8;
}
.archive-data{
    background: var(--lightred);
    opacity: 0.9;
}

.view-data:hover, .update-data:hover, .archive-data:hover, .archive-all-data:hover{
    opacity: 1;
}

.archive-all-data{
    background: var(--lightred);
    font-size: 1rem;
    opacity: 0.9;
}

/* modal */
.form-check:focus{
    box-shadow: none;
    outline: var(--lightblue);
}

.form-label{
    font-weight: 500;
}
input.form-control{
    padding: 0.7rem;
}
.modal .modal-header{
    background: var(--addBtn);
    color: white;
    
}
.modal .btn-default {
    background: var(--lightblue);
    border: 1px solid var(--addBtn);
    font-size: 0.9rem;
}
.modal .btn-default:hover {
    background: var(--addBtn);
    border: 1px solid var(--lightblue);
    color: white;
}
.modal .btn-secondary{
    font-size: 0.9rem;
    background-color: #8f8d8d;
}
.modal .btn-secondary:hover{
    opacity: 1;
    background: none;
    border: 1px solid #7b7b7b;
    color: black;
}

.modal .btn-secondary:focus, .modal .btn-default:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid lightgray;
}

.modal .form-control:focus{
    box-shadow: none;
    outline: var(--lightblue);
    border: 1px solid steelblue
}


.modal .form-label.asterisk:after {
    content:" *";
    color:red;
    font-size: 1rem;
  }


/* Upload Photo */
.profile-pic-div{
    height: 200px;
    width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo, #photoUpdate, #photoView{
    height: 100%;
    width: 100%;
}

#file, #fileUpdate{
    display: none;
}

#uploadBtn, #uploadBtnUpdate{
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-size: 0.9rem;
    cursor: pointer;
}

