html,body{
    background: #f3f3f3 !important;
}
.black-font {
    color: #333333;
}

.font-cart {
    font-family: "Poppins";
}
  
.heavy-font {
    font-weight: 700;
}
  
.light-font {
    font-weight: 200;
}

.container-radius {
    border-radius: .5em;
}

.cart-card {
    height: 10em;
}

.cart-card-body {
    height: 100%;
}

#checkout-btn {
    font-size: 1.5em;
    background-color: #50ABF1;
    color: #FFFFFF;
}

.qty-bg {
    background-color: #50ABF1;
    color: white;
}

.cart-checkout-card-bg {
    background-color: #FFFFFF;
}

.sf-mb {
    margin-bottom: 6em;
}

.form-check-input{
    font-size:1.5rem;
}