footer {
  font-family: Helvetica;
  font-weight: bold;
  color: #6b6b6b;
}
a {
  font-weight: bold;
}
label {
  font-weight: bold;
  font-family: Helvetica;
}
.small {
  font-size: 12px;
  color: #55a8ba;
  font-family: Helvetica;
}
button {
  padding-bottom: 2%;
}
.btn-default {
  background: #ffffff;
  border: 1px solid #50abf1;
  color: #50abf1;
}
.btn-default:hover {
  background: #50abf1;
  color: #ffffff;
}

