.footer-link {
  text-decoration: none;
  color: var(--black);
}
.footer-body{
    font-size: 1rem;
    background-color: #e4e4e4;
}
.small {
  font-size: 12px;
  color: #55a8ba;
  font-family: Helvetica;
}
.nav-link {
    font-size: 1rem;
    font-weight: bold;
}
.btn-blue {
  background: #50ABF1;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.5rem 1.8rem;
  font-weight: 600;
  opacity: 0.95;
}
.btn-blue:hover {
  background: #4599da;
  color: #ffffff;
  opacity: 1;
}