th, td {
    text-align: center;    
}

.badge {
    font-size: 1rem;
    padding: .5em;
}

.success {
    background-color: #52B788;
}

.cancelled {
    background-color: #F57575;
}

.on-progress {
    background-color: #FFBB3B;
}

.data {
    margin: 0;
}