header {
  min-height: 100vh;
  background: linear-gradient(rgba(5, 5, 5, 0.075), rgba(2, 2, 2, 0)),
    url(/images/banner.png) center/cover no-repeat fixed;
  display: flex;
  /* flex-direction: column; */
  justify-content: stretch;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  background: #f4f4f4 !important;
}

.banner {
  flex: 1; /* important for responsiveness  */
  display: flex;
  /* align-items:center; */
  justify-content: start;
}
.banner .container {
  display: grid;
  place-items: baseline;
  justify-content: baseline;
  color: #333;
}
.banner .container .tagline {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 6rem;
}
.banner .container .tagline h1 {
  font-size: 4.5rem;
  font-weight: 600;
}
.banner .container .tagline h2 {
  font-size: 3.5rem;
  font-weight: 500;
}
.banner .container p.lead {
  max-width: 450px;
  font-weight: 400;
  
}
.banner .container .price-start-text{
  font-weight: 500;
  font-size: 1.3rem;
}
.banner .container .price-start {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2.3rem;
}

.banner .container .shop-now-div {
  margin-bottom: 8rem;
}
.banner .container a.btn-default {
  background: #1aa3f3;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid var(--blue);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.8rem 3.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);

}
.banner .container a.btn-default:hover,
.services-wrapper .second a.btn:hover,
.about-us-wrapper .row .read-faqs-button a.btn-default:hover {
  font-weight: 700;
  border: 2px solid var(--blue);
  color: var(--black);
}
@media (min-width: 1420px) {
  .banner .container .tagline h1 {
    font-size: 4.8rem;
  }
  .banner .container .tagline h2 {
    font-size: 4.3rem;
  }
  .banner .container p.lead,
  .about-us-wrapper .row .about-us p {
    font-size: 1.6rem;
    max-width: 550px;
  }
  .banner .container .price-start-text {
    font-size: 1.6rem;
  }
  .banner .container .price-start {
    font-size: 2.5rem;
  }
}
@media (max-width: 1150px) {
  .banner,
  .banner .container .tagline,
  .banner .container p.lead,
  .banner .container .banner-price{
    text-align: center;
    margin: auto;
  }
  .banner .container .banner-price{
    padding-top:2rem ;
  }
  .banner .container .tagline {
    margin-top: 12rem;
  }
  .banner .container .shop-now-div {
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us-wrapper h2 {
    padding-top: 5rem;
  }
  .about-us-wrapper .row .about-us {
    padding-left: 1.5rem !important;
    padding-right: 0;
  }
}
@media (max-width: 420px) {
  .services-wrapper h1,
  .about-us-wrapper h1,
  .featured-item h1 {
    font-size: 1.2rem;
  }
  .services-wrapper h1::after,
  .featured-item h1::after,
  .about-us-wrapper h1::after,
  .wrapper h1::after {
    width: 100px;
  }
}
.featured-item {
  /* background: #e0e0e0;  */
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.featured-item .row {
  --bs-gutter-x: 0;
}
.featured-item a {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--black);
}
.featured-item a:hover {
  font-weight: 700;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

/* services */
.services-wrapper {
  /* background: #e0e0e0;  */
  padding-top: 3.2rem;
  padding-bottom: 3.8rem;
  font-size: 1.1rem;
}
.services-wrapper h1,
.about-us-wrapper h1,
.featured-item h1 {
  color: #005688;
  padding: 0.2rem 0 1.3rem 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2.4rem;
}
::after,
::before {
  box-sizing: border-box;
}

.services-wrapper h1::after,
.featured-item h1::after,
.about-us-wrapper h1::after,
.wrapper h1::after {
  content: "";
  width: 120px;
  height: 2px;
  display: inline-block;
  background: var(--black);
  margin: 8px;
}
.services-wrapper .first,
.services-wrapper .second,
.services-wrapper .third {
  background: #fefefe;
  padding: 2rem;
  height: 420px;
  max-height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.3rem;
}
.services-wrapper .first:hover,
.services-wrapper .second:hover,
.services-wrapper .third:hover {
  background: #fafafa;
}
.services-wrapper .first img,
.services-wrapper .second img,
.services-wrapper .third img {
  width: 100%;
  max-width: 215px;
  min-width: 170px;
}

.services-wrapper .second a.btn {
  background: var(--blue);
  color: white;
  font-size: 1.1rem;
  border: 1px solid var(--blue);
}

.services-wrapper .third p.check-inbox-text {
  font-weight: 600;
  font-size: 1rem;
}

.about-us-wrapper {
  padding-top: 5rem;
  padding-bottom: 3.3rem;
  background: #fdfdfd;
}
.about-us-wrapper h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #005688;
  font-size: 2.3rem;
}
.about-us-wrapper img {
  width: 100%;
  max-width: fit-content;
  text-align: center;
}

.about-us-wrapper .row .about-us {
  padding-left: 2.5rem;
  padding-right: 1.2rem;
}
.about-us-wrapper .row .about-us p {
  font-size: 1.2rem;
}

.about-us-wrapper .row .read-faqs-button a.btn-default {
  padding: 0.65rem 3rem;
  background: var(--blue);
  color: white;
  border: 1px solid var(--blue);
  margin: 3rem 0;
  font-size: 1.15rem;
}

/* FAQs page */
.faqs {
  background: #fdfdfd;
}
.wrapper h1 {
  color: var(--blue);
  letter-spacing: 1px;
  font-weight: 600;
}
.wrapper ol li {
  padding: 1.5rem;
  font-size: 1.05rem;
}