/* user products */
.head {
  height: 4rem;
  position: relative;
  background: #e2e2e4;
}
.head:before {
  padding-top: 2%;
  content: "";
  display: block;
}
form.search-wrapper {
  z-index: 1;
  width: 100%;
  max-width: 628px;
  margin: 0 auto;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
  border-radius: 8px;
}
form.search-wrapper .search-box {
  height: 64px;
  border-radius: 8px;
  background: #fff;
  width: 100%;
}
form.search-wrapper input[type="search"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 100%;
  background: #f1f1f1;
  z-index: 99;
  padding: 0;
  padding-right: 24px;
  padding-left: 30px;
  border-color: transparent;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form.search-wrapper input[type="search"]:focus {
  outline: none;
}
.search-wrapper .search-input {
  height: 100%;
  background: #fff;
  background: transparent;
  font-size: 16px;
}

.search-wrapper .search-icon {
  padding: 1.5rem 2rem;
  size: 1.3rem;
}
.search-wrapper button {
  border: none;
  border-radius: 0 8px 8px 0;
  opacity: 8;
}
.search-wrapper button:hover {
  opacity: 1;
  background: rgb(233, 232, 232);
}

.container .filter-head {
  padding-top: 8%;
  padding-bottom: 0.8rem;
}
.container .filter-head select.form-select,
.container .filter-button {
  width: 9rem;
}
.container .filter-button:hover,
.wrapper .card .card-body .add-to-bag a:hover,
.container .btn-outline:hover,
.container .btn-outline:focus-visible,
.container .btn-outline:active {
  background: var(--addBtn);
  border: 1px solid rgb(98, 143, 226);
  color: white;
  font-weight: 600;
  outline: none;
}

.container .filter-reset {
  display: none;
}

.container .filter-button input[type="reset"] {
  border: none;
  background: transparent;
}

select.form-select,
.container .filter-button {
  height: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-secondary,
.btn-secondary:focus {
  background: #f1f1f1;
  color: var(--black);
  width: 8.5rem;
  height: 2.5rem;
  border: 1px solid #e6e5e5;
}
.form-label {
  font-size: 1rem;
}
.form-control,
.form-select:focus {
  outline: none;
  border: 1px solid var(--lightblue);
  box-shadow: 0 0 0 0.15rem rgba(56, 119, 214, 0.25);
}
.form-control,
.form-select:focus::after,
.container .filter-button:focus {
  box-shadow: none;
}

/* common users */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 1rem;
}

.grid-container > * {
  margin: 1rem 0;
}
.wrapper {
  padding: 1.2rem 0 1.5rem 0;
}
.wrapper a {
  text-decoration: none;
  color: var(--black);
}

.wrapper .card-img-top {
  position: relative;
}

.wrapper .label-new {
  position: absolute;
  right: 0;
  top: 20px;
}
.wrapper .label-new span {
  background: var(--labelNew);
  text-transform: uppercase;
  padding: 5px 15px;
  font-weight: 600;
  height: 26px;
  width: 65px;
  font-size: 0.92rem;
  color: var(--black);
}
.wrapper .card {
  /* filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25)); */
  /* border: 1px solid #BEBEBE; */
  margin: 0 5px 1.2rem 0;
}
.wrapper > * {
  margin-bottom: 2.5rem;
}
.wrapper .card img {
  /* max-width: 255px; */
  height: 240px;
  max-width: 20rem;
  padding: 1.5rem 0.8rem;
  width: 100%;
}
.wrapper .card .card-body {
  padding: 1rem 1rem 0.1rem 1rem;
}

.wrapper .card-body .card-title {
  color: var(--black);
  font-size: 1.1rem;
}
.wrapper .card-body .card-title:hover {
  color: var(--addBtn);
  font-weight: 600;
}
.wrapper .card-body .card-text {
  color: gray;
  font-size: 0.91rem;
}
.wrapper .card-body p.price {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 0 0.3rem 0;
}
.wrapper .card .card-body button {
  border: none;
  background: transparent;
  margin-top: 4px;
}
.wrapper .card .card-body i {
  font-size: 1.2rem;
}
.wrapper .card .card-body i.tag {
  color: var(--addBtn);
}
nav ul li a {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

@media (min-width: 1600px) {
  .wrapper .card-body .card-title {
    font-size: 1.2rem;
  }
  .wrapper .card-body p.price,
  .wrapper .card-body .card-text {
    font-size: 1.1rem;
  }
  .form-label,
  select.form-select {
    font-size: 1.2rem;
  }
}
@media (max-width: 1399px) {
  .wrapper .card img {
    max-width: 17.5rem;
  }
  .wrapper .card {
    margin: 1.3rem 5px;
  }
}
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .wrapper .card img {
    max-width: 100%;
    width: 20rem;
  }
  /* .wrapper .card{
      margin: 1.3rem 0;
    } */

  .container,
  .container-sm {
    max-width: 660px;
  }
  .wrapper {
    justify-content: center !important;
  }
}
@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper .card img {
    max-width: 100%;
    width: 25rem;
  }
  .wrapper {
    justify-content: center !important;
  }
  .container img.img-prod-details {
    padding: 1rem;
  }
}

/* product details */
a.back-page,
span.page-title {
  font-size: 1.2rem;
}
.container h2.product-name {
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 0;
}
.container p.lens-type-text {
  font-weight: 600;
}

.container .btn-outline {
  width: 10rem;
  border: 1px solid var(--addBtn);
}
.container .btn-outline:hover {
  background: var(--addBtn);
}

.container.product-details {
  font-size: 1.1rem;
}
/* .container .image{
    max-width: 32rem;
    margin: auto;
  } */
.container img.img-prod-details {
  width: 100%;
  margin: auto;
  padding: 1rem 2rem 1rem 1rem;
}
.container #table-category {
  border-collapse: collapse;
  display: table;
  padding: 5px;
}
.container #table-category .tr {
  display: table-row;
  padding: 5px;
}
.container #table-category .td {
  display: table-cell;
  padding: 5px;
  width: 150px;
  border: #000000 solid 1px;
  margin: 5px;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
}
.container #table-category .td.prod-img-category-text {
  text-transform: uppercase;
  font-weight: 600;
}

.container button.add-to-cart {
  background: var(--save);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.7rem;
  color: white;
}
.container button.add-to-cart:hover {
  background: rgb(105, 223, 105);
  border: 1px solid var(--saveHover);
  color: var(--black);
  font-weight: 800;
}
