.edit-pic-btn {
    font-size: 1.2rem;
    padding: 0.5em;
  }
  
  .input-group-prepend .input-group-text {
    background-color: white;
    border-right: none;
  }
  
  #contactNumber {
    border-left: none;
  }
  
  .update-btn {
    color: #ffffff;
    width: 10em;
    font-size: 1.1rem;
    background-color: #52b788;
  }
  
  .update-btn:hover {
    color: black;
  }
  
  .form-control,
  .form-select:focus::after,
  .container .filter-button:focus {
    outline: 1px solid lightgrey;
  }
  
  label{
      font-weight: 600!important;
  }
  .btn-primary {
      background: var(--blue);
      font-size: 1.1rem;
  }
  .btn-primary:hover{
      background: var(--blue);
      color:black;
  }
  
  #customer-info, #update-photo, #customer-photo1{
      display:none;
  }
  
  .profile-pic-div{
      height: 240px;
      width: 240px;
      position: relative;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0%);
      border-radius: 50%;
      overflow: hidden;
      /* border: none !important */
  }
  
  #photo, #photoUpdate, #photoView{
      height: 100%;
      width: 100%;
  }
  
  #file, #fileUpdate{
      display: none;
  }
  
  #uploadBtn, #uploadBtnUpdate{
      height: 45px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
      color: wheat;
      line-height: 30px;
      font-size: 0.9rem;
      cursor: pointer;
  }
  
  .center_align{
      text-align: center;
  }
  